@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@500;700&display=swap");

:root {
  --space-smallest: 1px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;
  --space-xxlg: 80px;

  --white: #FAFAFA;
  --gray: #A9A9A9;
  --black: #000000;

  --text-color: var(--black);
  --footer-text-color: var(--gray);
  --background: var(--white);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

main {
  width: auto;
  height: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 12px;
}

main div.title {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

main div.title span {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: -0.045em;
  color: var(--text-color);
  padding: 71px 0 38px 0;
}

main div.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

main div.content h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  
  text-transform: uppercase;
  color: var(--title-color);
}

main div.content p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 10px 0 0 0;

  color: var(--text-color);
}

main ul {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: var(--space-md) 0;
  padding: 0;
  list-style: none;
}

main ul li {
  height: auto;
}

main ul li:nth-child(odd) {
  padding-bottom: var(--space-xlg);
}

main ul li:nth-child(even) {
  padding-top: var(--space-xlg);
}

main ul li div.group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
}

main ul li div.group img {
  width: 139px;
  height: 209px;
  margin-right: var(--space-xxs);
}

main ul li div.group span.role {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  
  color: var(--text-color);
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

main ul li span.name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  color: var(--text-color);
}

footer {
  width: 100%;
  height: 100%;
  min-height: var(--space);
  text-align: center;
  margin-bottom: var(--space);
}

footer span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

footer span a {
  font-family: "Montserrat";
  font-style: normal;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

@media (min-width: 376px) {
  main {
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 110px 265px 96px 243px;
  }

  main div.title, main div.content {
    width: 35%;
    margin-bottom: var(--space-xxlg);
  }

  main div.title {
    align-items: flex-start;
    justify-content: center;
  }

  main div.title span {
    padding: 0;
  }

  main div.content p {
    width: 60%;
    font-size: 18px;
    line-height: 27px;
  }

  main ul {
    max-width: 1000px;
  }

  main ul li:nth-child(4), main ul li:nth-child(6) {
    margin-top: var(--space-sm);
    padding-top: 0;
    padding-bottom: var(--space-xlg);
  }

  main ul li:nth-child(5) {
    padding-top: var(--space-xlg);
    padding-bottom: 0;
  }
  
  main ul li div.group img {
    width: 238px;
    height: 341px;
  }

main ul li div.group span.role {
  font-size: 12px;
  line-height: 16px;
}

main ul li span.name {
  font-size: 18px;
  line-height: 27px;
}

  footer {
    max-height: var(--space);
  }
}